/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
    text-decoration: none;
    color: inherit;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
/* @media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
} */


/* HEADER start */
.header {
    display: flex;
    justify-content: space-between;
    padding-left: 300px;
    padding-right: 150px;
    padding-top: 30px;
    padding-bottom: 15px;
    background-color: #c8c8c8;
}

.share-btn {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 5px 10px;
    height: 30px;
    background-color: white;
    border-radius: 12px;
}

.share-btn_icon {
    width: 20px;
    height: 20px;
    background-image: url(./src/icons/share_logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.share-btn_info {
    font-size: 12px;
}

.share-btn:hover {
    border: solid 1px #067cfc;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px #067cfc;
}

.header__nav_list {
    display: flex;
    gap: 40px;
}

.header__nav_item {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.05cm;
}

.header__nav_item a:hover {
    color: #067cfc;
}

/* HEADER end */

/* MAIN start */
.cv__inf {
    display: flex;
}

.main-inf {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 300px;
    background-color: #c8c8c8;
}

.cv__photo {
    width: 120px;
    height: 120px;
    background-image: url(./src/images/main.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 100%;
}

.cv__name {
    font-size: 18px;
    letter-spacing: 0.05cm;
}

.cv__position {
    background-color: white;
    padding: 5px 15px;
    border-radius: 20px;
}

.contacts_social {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.cv__contscts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}
/* MAIN end */